{% extends "base.html" %}
{% block titulo %}Titulo{% endblock %}
{% block conteudo %}
<section class="gradient-custom vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h1 class="fw-bold text-uppercase mb-5">Seja Bem Vindo!</h1>
                <p class="fw-bold text-uppercase mb-3">Feito por Igor e Ana Paula</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}